*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;

}
.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/* ----------------- Banner Section ---------*/

#banner{

    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
    
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn{
    width: 45px;
    margin: 20px;
}

#banner a{
    text-decoration: none;
    color: #fff;
}

.bottom-img{
    width: 100%;
}

/*  ----------------- Services ------------------- */


.line::before{
    content: '';
    width: 200px;
    height: 5px;
    background-color: #7b1798;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.line::after{
    content: '';
    width: 50px;
    height: 10px;
    background-color: #7b1798;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    transform: translateY(-8px);
}


#services{
    padding: 80px 0;
}

.service-img{
    width: 100px;
    margin: 20px;
}

.services{
    padding-top: 40px;
    padding-bottom: 20px;
}

.services h4{
    padding: 5px;
    text-transform: uppercase;
}

#services .btn-primary{
    box-shadow: none;
    border-radius: 20px;
    padding: 5px 25px;
    border: none;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

/*----- About Us ---------*/
#why-us{
    background-color: #f8f9fa;
    padding: 50px 0;
}

.why-us-list{
    margin-left: 30px;
}

.why-us-list li{
    margin: 10px 0;
}

/*------- Testimonials ------*/

#testimonials{
    padding: 100px 0;
}

.testimonials{
    border-left: 5px solid #7b1798;
    margin: 50px 0;

}

.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 10px;
}

.user-details{
    display: inline-block;
}

/*-- Social Media --------*/

#social_media{
    padding: 100px 0;
    background-color: #f8f9fa;
}

.icons img{
    height: 60px;
    width: 60px;
    margin: 20px 0;
    transition: 0.5s;
}

.icons a:hover img{
    transform: translateY(-10px);
}

/*--- footer ----------*/
#footer{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    margin-bottom: 20px;
    width: 120px;

}

.footer-box h6{
    margin-bottom: 20px;
}

.footer-box .fa-solid{
    margin-right: 10px;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}

.footer-box .form-control{
    border-radius: 0;
    box-shadow: none !important;
    border: none;
    margin-top: 5px;
    max-width: 250px;
}

.footer-box .btn-primary{

    border-radius: 0;
    box-shadow: none !important;
    border: none;
    margin-top: 25px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}